<div class="container-fluid">
    <a routerLink="/noticias/admin/crear">
        <button class="btn btn-success"><span></span>Crear Noticia</button>
    </a>
    <div class="row mt-2" *ngFor="let noticia of noticias; let i = index" style="border:solid black 1px; border-radius:5px">
        <div class="col-2" style="width: 180px; margin:5px">
            <img src="{{ noticia.vistaPrevia.imgUrl }}" alt="{{ noticia.vistaPrevia.titulo }}" style="width:100%; height: 90px;">
        </div>
        <div class="col-9" style="width:calc(100% - 180px);margin:0 5px">
            <h5>{{ noticia.vistaPrevia.titulo }}</h5>
            <p style="margin:-5px 0 0 0 ">{{ noticia.vistaPrevia.contenido }}</p>
            <div class="row justify-content-end">
                <button class="btn btn-primary ml-1 mb-1" (click)="onEdit(noticia._id)">
          editar
        </button>
                <button class="btn btn-danger ml-1 mb-1" (click)="onDelete(noticia._id)">
          eliminar        
        </button>
            </div>
        </div>
    </div>
</div>