/* .cuerpo {
    background-position: right top;
} */
.container-fluid {
  z-index: auto;
  opacity: 1;
  isolation: auto;

}

.logo{
    position: absolute;
    /* top:30%; */
    margin-left: 60%;
    max-width:80%;
    /* margin-bottom:00px; */

    /* margin-top: calc(25%); */
    /* margin-left: calc(45vmin); */
}

#aro{
  margin-bottom: 30%;
}

.slide-image{
  width:100%;
  height:calc(50vw);
  position: center;
  border-radius: 0 0 30px 30px;
  max-height: 500px;
}

.seccion2{
  font-family: 'Poppins', sans-serif;
  font-size: calc(0.5vw + 12px);
  /* font-size: calc(1.1708vw+ 10px); */
  font-weight: 200;
  line-height: 45px;
  text-align: justify;
  text-justify: inter-word;
  color: #636363;
  padding: 50px;
}

.material-icons{
  color:rgba(46,134,200,0.7);
  font-size: 120px;
  text-align: center;
}

.title{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: calc(1.25vw + 35px);
  /* font-size: 3vw; */
  margin-top: 100px;
}

#servicios{
  background-color:#0378a5;
  border-radius:0 30px 30px 0;
  box-shadow: 20px 20px 28px #888888;
}

.seccion3{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: calc(0.8vw + 12px);
  padding: 30px 30px 70px 30px;
  color: #dddddd;
  margin-top:40px;
  border-top:0
}

#Audit {
  /* position: relative; */
  z-index: 1;
  overflow: hidden;
}

/* .sensor{
  position: relative;
  z-index: 3;
  width: auto;
  background-color: rgba(68, 68, 68, 1);
  height: auto;
  width: auto;
} */
.info{
  position: relative;
  background-color: rgba(68, 68, 68, 0.4);
  z-index: 2;
  height: 0%;
  margin: auto;
  transition: height 1ms;
}

#Audit:hover + .info {
  border-top: none;
  top: 0px;
  height: auto;
  border: 2px solid white;
  width: auto;
}

.info:hover {
  height: auto;
  /* border: 2px rgba(68, 68, 68, 0.4); */
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
}

.invimg{
  /* max-width: 350px; */
  position: relative;
  height:100%;
  background-color: rgba(68, 68, 68, 0.8);
  width: auto;
  /* background-image: url('../../assets/Slide1.png'); */
  /* background-repeat: no-repeat; */
  /* border-radius: 50px 50px 50px 0; */
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 21px;
  /* padding: 25px; */
  /* margin-top: 40px; */
  /* color:#fff; */
}


.square{
  /* max-width: 350px; */
  width: 95%;
  height: 40%;
  background-color:rgba(46,134,200,0.7);
  border-radius: 50px 50px 50px 0;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: calc(0.6vw + 8px);
  padding: 25px;
  margin-top: 40px;
  color:#000;
  box-shadow: 20px 20px 28px #888888;
}
.clearfix{
  overflow: hidden;
}

.back-image{
  background-image: url('/../assets/Testimonios.png');
  background-position:center;
  background-size: 100vw 800px;
  background-repeat: no-repeat;
}

.circle{
     width: 96px;
     height: 96px;
     background: #305e7e;
     border-radius: 50%;
     margin-bottom: 25px;
     /* margin-left: 20%; */
     margin-right: 50px;
     float:left;
}

.back-image .square{
  position: relative;
  margin-bottom: 30px;
}

#contacto{
  background-color:#0378a5;
  border-radius:30px 30px 30px 30px;
  box-shadow: 20px 20px 28px #888888;
  flex: 0 0 100%;
  width: 100vw;
  margin-left: 12.5%;
  margin-bottom: 10%;
}

#brand{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: calc(2vw + 20px);
  text-align: center;
  margin-top: 100px;
  color:#fff;
    /* flex: 0 0 100%; */
  /* width: 100vw; */
}

#brand  p{
  font-weight: 100;
  font-size: calc(0.8vw + 12px);
  line-height: 53.333px;
  padding: 20px;
}
.formulario{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: calc(1vw + 12px);
  /* text-align: center; */
  margin-top: 40px;
  margin-left: 50px;
  max-width: 40vw;
  color:#fff;
}

input, input:focus, textarea, textarea:focus{
  background: transparent;
  border: none;
  border-bottom: 1px solid #b7b7b7;
  border-radius: 0;
}

label:hover{
  color: #fff;
  cursor: text;
}
.btn{
  color:#fff;
  width:120px;
  height:50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size:24px;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.panel-footer {
	margin-top: 0;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #2a5972;
	border-top: 0;
}
.title-copy{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight:100;
  font-size:15px;
  /* margin-bottom: 35px;
  margin-top: 35px; */
  color:#fff;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .formulario {
    width: 80%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .logo{
      position: absolute;
      top:60%;
      margin-left: 45%;
      /* width: 100%; */
      /* height: auto; */
      width: 60%;
      height: 60%;
      display: flex;
      flex-wrap:wrap;
  }
  #brand{
    width: 40vw;
  }
}

@media(max-width: 767px){
  .logo{
      position: absolute;
      top:80%;
      margin-left: 40%;
      width: 100%;
      height: auto;
  }

  .formulario {
    width: 80%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #brand{
    width: 40vw;
  }
}
