<!-- MAXIMO ANCHO DE PANTALLA <div style="max-width: 1680px;margin:auto"> -->

        <div (window:resize)="onResize($event)" style="overflow:visible; overflow-x: hidden; width: 100%;">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
            *ngIf="testimonio"
            >
            <!-- <div class="h-100 w-75" style="background-image: url('../../../assets/Slide1.png'); background-repeat: no-repeat; margin-left: 12.5%"></div> -->
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-75" style="margin-left:12.5%" src="../../../assets/Slide1.png" alt="First slide">

                <!-- <div class="d-block w-75 invimg" style="margin-left:12.5%; background-color:#000; opacity:0.75 ">
                  <img class="d-block w-75" style="margin-left:12.5%" src="../../assets/Slide1.png" alt="Second slide">
                  <div class="square mx-auto d-block w-75">
                    <p>
                      SINCO es un nodo conformado por un grupo de talentos financieros
                      certificados y profesionales de estas carreras, que han desarrollado
                      habilidades y competencias conversacionales, de emprendimiento y
                      negocios, facilitación
                    </p>
                    <br>
                    <div class="row" style="margin-top:-40px">
                      <div class="container">
                        <div class="circle pull-left">
                          <p class="text-center" style="margin-top:30px">
                            Foto
                          </p>
                        </div>
                        <div class="col-8 pull-right">
                          <p style="font-style:normal; font-weight:300; font-size:18px">
                            Lorem ipsum dolor <br>Consectetuer <br>Sed Diam
                          </p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                <!-- </div> -->
              </div>
              <div class="carousel-item ">
                <img class="d-block w-75" style="margin-left:12.5%" src="../../../assets/Slide2.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-75" style="margin-left:12.5%" src="../../../assets/Slide3.png" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-75" style="margin-left:12.5%" src="../../../assets/Slide4.png" alt="Fourth slide">
              </div>
            </div>
            <a class="carousel-control-prev" style="margin-left:12.5%" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="margin-right:12.5%" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
            *ngIf="!testimonio"
            >
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" style="margin-left:0%" src="../../../assets/Slide1.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Titulo opcional para imagenes</h5>
                  <p>Parrafo breve descriptivo</p>
                </div>
              </div>
              <div class="carousel-item ">
                <img class="d-block w-100" style="margin-left:0%" src="../../../assets/Slide2.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" style="margin-left:0%" src="../../../assets/Slide3.png" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" style="margin-left:0%" src="../../../assets/Slide4.png" alt="Fourth slide">
              </div>
            </div>
            <a class="carousel-control-prev" style="margin-left:0%" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="margin-right:0%" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <!-- <img class="slide-image" src="../../assets/Slide2.png" alt="Foto asesores"> -->
    <!------------------------------------------------------------------------------------------ Seccion 2 ---------------------------------------------------------------------------->
        <div class="container-fluid" style="position: relative">
          <div class="logo">
            <img  id="aro" src="../../../assets/Aro.png"  alt="Aro" style="object-fit: cover; z-index=10">
          </div>
          <div class="row justify-content-center" style="max-width:100%; margin-top:5%; z-index=-1">
            <div class="col-6 ">
              <img src="../../../assets/Logo-con-Fondo.png"  width="87px" height="90px" alt="Logo SINCO" style=" margin-left:45%">
              <br>
              <p class="seccion2">
                SINCO es un nodo conformado por un grupo de talentos financieros
                 certificados y profesionales de estas carreras, que han desarrollado
                  habilidades y competencias conversacionales, de emprendimiento y
                  negocios, facilitación y liderazgo para agregar valor a sus clientes
                  y a sí mismos. Este nodo se consolida sobre una cultura propia y un
                   modelo económico co-creado que nos permite interdependencia operativa,
                    independencia económica, optimización de recursos y aprendizaje
                    experiencial continuo.
              </p>
            </div>
            <div class="col-4" style="align-items:center;justify-content: center; display:flex">
              <img src="../../../assets/concept.jpg" width="100%" style="height:20vw; margin-top: calc(50% -10vw)" alt="concepto">
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row justify-content-center" style="background-color:rgba(193,193,193,0.25);z-index:-1">
            <div class="col-4" style="align-items:center;justify-content: center; display:flex;  margin-top:5%" >
              <img src="../../../assets/achievement.jpg" width="120%" style="height:16vw; margin-top: calc(50% -10vw)"  alt="achievent" >
            </div>
            <div class="col-7" style=" margin-top:2%">
                <i class="col-12 material-icons">done_all</i>
                <br>
                <p class="seccion2" style="margin-left:10%">
                    Nuestro propósito es participar en el crecimiento y
                    desarrollo de las pymes como motor de las economías
                    emergentes. Lo hacemos conectándolas con el talento
                    financiero especializado en conversaciones habilitadoras
                    de las finanzas, que además de cubrir las necesidades
                    técnicas buscan potenciar las habilidades y competencias
                    de los líderes detrás de las pymes que quieren crecimiento,
                    diversificación e innovación.
                </p>
            </div>
          </div>
        </div>

    <!------------------------------------------------------------------------------------------ Seccion 3 ---------------------------------------------------------------------------->
          <section class="container-fluid" >
            <div class="row justify-content-start col-9" id="servicios" style="margin-bottom:100px">
              <div class="col-12 title" style="color:#dddddd; margin-bottom:40px">
                Nuestros Servicios
              </div>
              <div class="container" style="max-width:100%">
                <div class="row seccion3">
                  <div id="Audit" class="col-xl-2 col-md-4 col-xs-6 col-sm-6 col-lg-4" style="display: inline-block;">
                    <div class="sensor"></div>
                    <div class="info">
                      <p>
                        <i class="material-icons text-center" style="font-size:100px; color: #dddddd">pageview</i><br>
                        Auditorias tributarias y financieras
                      </p>
                    </div>
                  </div>
                  <div id="Audit" class="col-xl-2 col-lg-4 col-md-4 col-xs-6 col-sm-6 ">
                    <div class="info">
                      <p>
                        <i class="material-icons" style="font-size:100px; color: #dddddd">exposure</i><br>
                        Contabilidad general y especializada
                      </p>
                    </div>
                  </div>
                  <div id="Audit" class="col-xl-2 col-md-4 col-xs-6 col-sm-6 col-lg-4">
                    <div class="info">
                      <p>
                        <i class="material-icons" style="font-size:100px; color: #dddddd">important_devices</i><br>
                        Contabilidad ágil con el uso de nuevas tecnologías
                      </p>
                    </div>
                  </div>
                  <div id="Facil" class="col-xl-2 col-md-4 col-xs-6 col-sm-6 col-lg-4">
                    <p>
                      <i class="material-icons" style="font-size:100px; color: #dddddd">supervisor_account</i><br>
                      Facilitación presencial o a distancia
                    </p>
                  </div>
                  <div id="Inter" class="col-xl-2 col-md-4 col-xs-6 col-sm-6 col-lg-4 ">
                    <p>
                      <i class="material-icons" style="font-size:100px; color: #dddddd">thumb_up</i><br>
                      Intervención de cultura financiera
                    </p>
                  </div>
                  <div id="Coach" class="col-xl-2 col-md-4 col-xs-6 col-sm-6 col-lg-4 ">
                    <p>
                      <i class="material-icons" style="font-size:100px; color: #dddddd">trending_up</i><br>
                      Coaching especializado de negocios
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>



    <!------------------------------------------------------------------------------------------ Seccion 4 ---------------------------------------------------------------------------->
        <section class="container-fluid">

            <!-- <div class="row back-image"> -->
              <!-- <div class="row triangulo justify-content-center" style="margin:-1px 47.5%; width:5%;"> -->
                  <!-- <img class="triangulo text-center" src="../../assets/Triangulo.png"  alt="Triangulo" width="100%" height="auto"> -->
              <!-- </div> -->
              <!-- <img class="col-12" src="../../assets/Testimonios.png"  alt="testimonios"> -->
            <div class="row justify-content-center" style="margin-bottom:20px">
              <div class="col-6 title" style="color:#545454; margin-top:-20px;">
                Testimonios
                <div class="row justify-content-center">
                  <div class="col-10">
                    <div  class="square mx-auto clearfix" id="style-1" >
                      <p style="margin-bottom:15px">
                        SINCO es un nodo conformado por un grupo de talentos financieros
                         certificados y profesionales de estas carreras, que han desarrollado
                          habilidades y competencias conversacionales, de emprendimiento y
                          negocios, facilitación
                      </p>
                      <br>
                    </div>
                    <div class="row  col-12" style="margin-top:20px;" >
                      <div class="container-fluid">
                        <div class="circle">
                          <p class="text-center" style="margin-top:20px; font-size: calc(0.8vw + 12px);">
                            Foto
                          </p>
                        </div>
                        <div style="font-style:normal; font-weight:300; font-size: calc(0.8vw + 12px);; text-align: left; ">
                          <p>
                             Lorem ipsum dolor <br>Consectetuer <br>Sed Diam
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-10" *ngIf="testimonio">
                    <div  class="square mx-auto clearfix" id="style-1" >
                      <p >
                        SINCO es un nodo conformado por un grupo de talentos financieros
                         certificados y profesionales de estas carreras, que han desarrollado
                          habilidades y competencias conversacionales, de emprendimiento y
                          negocios, facilitación
                      </p>
                      <br>
                    </div>
                    <div class="row  col-12" style="margin-top:20px;" >
                      <div class="container-fluid">
                        <div class="circle">
                          <p class="text-center" style="margin-top:20px; font-size: calc(0.8vw + 12px);">
                            Foto
                          </p>
                        </div>
                        <div style="font-style:normal; font-weight:300; font-size: calc(0.8vw + 12px);; text-align: left; ">
                          <p>
                             Lorem ipsum dolor <br>Consectetuer <br>Sed Diam
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-10" *ngIf="testimonio">
                    <div  class="square mx-auto clearfix" id="style-1" >
                      <p >
                        SINCO es un nodo conformado por un grupo de talentos financieros
                         certificados y profesionales de estas carreras, que han desarrollado
                          habilidades y competencias conversacionales, de emprendimiento y
                          negocios, facilitación
                      </p>
                      <br>
                    </div>
                    <div class="row  col-12" style="margin-top:20px;" >
                      <div class="container-fluid">
                        <div class="circle">
                          <p class="text-center" style="margin-top:20px; font-size: calc(0.8vw + 12px);">
                            Foto
                          </p>
                        </div>
                        <div style="font-style:normal; font-weight:300; font-size: calc(0.8vw + 12px);; text-align: left; ">
                          <p>
                             Lorem ipsum dolor <br>Consectetuer <br>Sed Diam
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-4">
              <img class="mx-auto" src="../../../assets/Testimonio.png" alt="Testimonio" width="100%" height="100%" >
            </div>
          </div>
        </section>
              <!-- <div class="col-2">
    <!------------------------------------------------------------------------------------------ Seccion 5: Contactanos ---------------------------------------------------------------------------->

    <!-- <section class="container-fluid" style="height:27.5%">
      <div class="row justify-content-start col-9" id="servicios" style="margin-bottom:100px">
        <div class="col-12 title" style="color:#dddddd">
          Nuestros Servicios
        </div>
        <div class="container" style="max-width:100%"> -->
          <section class="container" style="margin-top:10%; max-width:100%">
            <div class="row justify-content-center col-9" id="contacto">
              <div class="col-12 title" style="color:#fff">
                Contáctanos
              </div>
              <!-- <div class="container-fluid" > -->
                <div class="row justify-content-center" style="margin-right:0">
                  <div  id="brand" class="col-6" >
                    <div class="container mx-auto" style="max-width:100vw ">
                      <div  style="color:#fff">
                        SINCO Asesores, C.A.
                        <p>
                          J-31224834-1 <br> +58 212 861 43 00
                          <br> San Isidro a San José del Ávila. <br> Final Avenida
                          Baralt Norte. <br> Caracas - Venezuela <br> REDES SOCIALES
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6  formulario mx-auto">
                    <div class="container ">
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group">
                            <input id="nombre" type="text" class="form-control" style="height:50px" #nomInput required>
                            <label class="form-control-placeholder" for="nombre">Nombre</label>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                              <input id="apellido" type="text" class="form-control" style="height:50px" #ApllInput required>
                              <label class="form-control-placeholder" for="apellido">Apellido</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-group" style="margin-top:20px">
                            <input id="correo" type="text" class="form-control" style="height:50px" #correoInput required>
                            <label class="form-control-placeholder" for="correo">Correo Electrónico</label>
                          </div>

                          <div class="form-group" style="margin-top:40px">
                            <input id="org" type="text"  class="form-control" style="height:50px" #orgInput required>
                            <label class="form-control-placeholder" for="org">Organización(Opcional)</label>
                          </div>

                          <div class="form-group">
                            <textarea id="msg" type="text" class="form-control" style="max-width:643; height:250px; margin-top:40px" #msgInput required></textarea>
                            <label class="form-control-placeholder" for="msg">Mensaje</label>
                          </div>
                          <div class="pull-right" style="margin-right:0.1vw">
                            <button class="btn btn-info" type="submit" (click)="onEnviar()">Enviar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </section>
    <!------------------------------------------------------------------------------------------ Footer ---------------------------------------------------------------------------->

          <footer class="panel-footer">
            <div class="container" style=" max-width:100vw">
              <div class="row" >
                <div class="col-12 title-copy">&copy; SINCO Copyright 2008</div>
              </div>
            </div>
          </footer>
    <!-- </div> -->
        </div>
