<!-- MAXIMO ANCHO DE PANTALLA margin:-59px auto 0 auto;max-width:1680px; -->
<nav class="navbar sticky-top navbar-expand-md navbar-dark" style="background-color:rgba(174, 219, 229, 0.5); margin-top:-59px;">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/Logo-con-Fondo.png" width="40" height="40" alt="Logo Sinco" style="margin:-10px 5px 0 5vw">
      <span style="color:#064759">Sinco Asesores</span>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="inicio" style="color:#064759">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="noticias/blog" style="color:#064759">Noticias</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="academia" style="color:#064759">Academia</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="contacto" style="color:#064759">Contacto</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="conexion" style="color:#064759">Registro</a>
      </li>
    </ul>
  </div>
</nav>
