<div *ngIf="!showPreview" class="row justify-content-center">
    <div class="col-11">
        <h4 class="mt-5">Noticia completa.</h4>
        <div class="row">
            <div class="col-12">
                <editor class="edit" [(ngModel)]="noticia.completa" apiKey="m3je35vb2xwqzw3ys0tlbi7w9qllte3y8useflyta28qiswu" [init]="{
          height: 500,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste imagetools wordcount'
          ],
          toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
          images_upload_url: baseUrl + 'imagen'
        }">
                </editor>
                <button class="btn btn-success" (click)="showPreview = true">Previsualizar</button>
            </div>
        </div>
        <form [formGroup]="noticiaForm" (ngSubmit)="onSubmit()">
            <h4 class="mt-5">Vista Previa.</h4>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="titulo">Titulo de la vista previa</label>
                        <input type="text" id="titulo" class="form-control" formControlName="titulo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="imgUrl">Imagen miniatura en la vista previa</label>
                        <input type="file" id="imgUrl" class="form-control" formControlName="imgUrl" ng2FileSelect [uploader]="uploader">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="contenido">Contenido de la vista previa</label>
                        <textarea type="text" rows="10" id="contenido" class="form-control" formControlName="contenido">
            </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success" type="submit" [disabled]="noticiaForm.invalid">Guardar</button>
                    <button class="btn btn-danger" type="button" (click)="onCancelEdit()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" *ngIf="showPreview">
    <div class="col-11">
        <h4 class="mt-5">Previsualizar noticia</h4>
        <!-- <div style="width:100%" [innerHTML]="noticia.completa"></div> -->
        <div [froalaView]="noticia.completa"></div>
        <button class="btn btn-danger" (click)="showPreview = false">Atras</button>
    </div>
</div>