<hr>
<div class="aro" style="width:calc(50vw - 17px);height:350px"></div>
<div style="background-color:#305e7c; border-radius:30px; margin:5px;">
    <div class="col-12 title" style="color:#b7b7b7">
        Registro
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-group">

        <div class="col-6 col-lg-12 formulario mx-auto">
            <div class="container ">
                <div class="row">

                    <div class="col-md-6">
                        <mat-form-field class="w-100 white">
                            <input matInput type="text" formControlName="firstName" placeholder="Nombre">
                            <mat-error *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)">
                                <div *ngIf="f.firstName.errors.required">
                                    Por favor, introduce tu nombre
                                </div>
                                <div *ngIf="f.firstName.errors.pattern">
                                    Por favor, introduce un nombre válido
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <input matInput type="text" formControlName="lastName" placeholder="Apellido">
                            <mat-error *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)">
                                <div *ngIf="f.lastName.errors.required">
                                    Por favor, introduce tu apellido
                                </div>
                                <div *ngIf="f.lastName.errors.pattern">
                                    Por favor, introduce un apellido válido
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field class="w-100 col-md-6">
                        <input matInput type="text" formControlName="org" placeholder="Organización">
                    </mat-form-field>

                    <mat-form-field class="w-100 col-md-6">
                        <span matPrefix>+58 &nbsp;</span>
                        <input matInput type="tel" formControlName="phone" placeholder="Teléfono">
                    </mat-form-field>

                    <div class="col-12">
                        <mat-form-field class="w-100">
                            <input matInput appAutofocus type="text" formControlName="email" placeholder="Correo electrónico">
                            <mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                                <div *ngIf="f.email.errors.required">
                                    Por favor, introduce tu correo electrónico
                                </div>
                                <div *ngIf="f.email.errors.pattern">
                                    Por favor, introduce un correo electrónico válido
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field class="w-100">
                            <input matInput type="password" formControlName="password" placeholder="Contraseña">
                            <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                                <div *ngIf="f.password.errors.minlength">
                                    Tu contraseña debe tener al menos 8 caracteres
                                </div>
                                <div *ngIf="f.password.errors.required">
                                    Por favor, introduce tu contraseña
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field class="w-100">
                            <input matInput type="password" formControlName="password2" placeholder="Confirmación de Contraseña" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="registrationForm.hasError('missmatching-pass') && (f.password2.dirty || f.password2.touched)">
                                <div>
                                    Tu contraseña no coincide
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="pull-right" style="margin-right:0.1vw;">
                        <button class="btn btn-info" type="submit">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<hr>
<!-- <hr>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-group">

    <div class="col-10 offset-1">
        <mat-form-field class="w-100">
            <input matInput type="text" formControlName="firstName" placeholder="Nombre">
            <mat-error *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)">
                <div *ngIf="f.firstName.errors.required">
                    Por favor, introduce tu nombre
                </div>
                <div *ngIf="f.firstName.errors.pattern">
                    Por favor, introduce un nombre válido
                </div>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-10 offset-1">
        <mat-form-field class="w-100">
            <input matInput type="text" formControlName="lastName" placeholder="Apellido">
            <mat-error *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)">
                <div *ngIf="f.lastName.errors.required">
                    Por favor, introduce tu apellido
                </div>
                <div *ngIf="f.lastName.errors.pattern">
                    Por favor, introduce un apellido válido
                </div>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-10 offset-1">
        <mat-form-field class="w-100">
            <input matInput appAutofocus type="text" formControlName="email" placeholder="Correo electrónico">
            <mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                <div *ngIf="f.email.errors.required">
                    Por favor, introduce tu correo electrónico
                </div>
                <div *ngIf="f.email.errors.pattern">
                    Por favor, introduce un correo electrónico válido
                </div>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="col-10 offset-1">
        <mat-form-field class="w-100">
            <input matInput type="password" formControlName="password" placeholder="Contraseña">
            <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                <div *ngIf="f.password.errors.minlength">
                    Tu contraseña debe tener al menos 8 caracteres
                </div>
                <div *ngIf="f.password.errors.required">
                    Por favor, introduce tu contraseña
                </div>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="col-10 offset-1">
        <mat-form-field class="w-100">
            <input matInput type="password" formControlName="password2" placeholder="Confirmación de Contraseña" [errorStateMatcher]="matcher">
            <mat-error *ngIf="registrationForm.hasError('missmatching-pass') && (f.password2.dirty || f.password2.touched)">
                <div>
                    Tu contraseña no coincide
                </div>
            </mat-error>
        </mat-form-field>
    </div>



    <div class="align-center">
        <button type="submit " class="btn btn-outline-primary " [disabled]="!registrationForm.valid ">
            Registrar
            </button>
    </div>
</form> -->