.title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 60px;
}

.formulario {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 50px;
    max-width: 40vw;
    color: #b7b7b7;
}

hr {
    margin: 30px;
    background-color: #305e7c;
}

.aro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('/../assets/Aro.png');
    background-repeat: no-repeat;
    margin-top: calc(20px + 35vw);
    margin-left: 50vw;
    margin-right: 0;
}

.btn {
    color: #b7b7b7;
    height: 50px;
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .formulario {
        width: 80vw;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .formulario {
        width: 80vw;
        flex: 0 0 100%;
        max-width: 100%;
    }
}