<div class="row text-center" style="background-image:url('../../../../assets/header-blog.png');height:181px;width:100%;margin:-59px 0 0 0">
  <h1 class="col align-self-end">
    Blog y Noticias
  </h1>
</div>
<div class="container-fluid">
  <hr style="margin-top:40px;margin-bottom:60px;border-color:#305e7c;max-width:90%;">
  <div class="row justify-content-center">
    <div class="col" style="max-width:85%;">
      <div class="row">
        <div *ngFor="let noticia of noticias | paginate: { itemsPerPage: 12, currentPage: pagina }" class="col-sm-12 col-md-6 col-lg-4 col-xl-4" style="padding:0 4vw">
          <!-- border:solid black 1px; -->
          <div class="row" style="height:380px;margin-bottom:100px">
            <div class="col-12" style="padding:0">
              <div class="col-12" style="padding:0; padding-top:57%">
                <img src="{{ noticia.vistaPrevia.imgUrl }}" alt="{{ noticia.vistaPrevia.titulo }}" style="width:100%;max-height:100%;position:absolute;top:0">
              </div>
              <div class="col-12" style="font-family:'trirong';font-weight:bold;font-size:26px;line-height:28px;padding:0 0 10px 0;color:#4f4f4f;">
                {{ noticia.vistaPrevia.titulo }}
              </div>
              <div class="col-12" style="font-family:'trirong';font-size:17px;line-height:19px;text-align:justify;padding:0;color:#8f8f8f;margin-bottom:10px">
                {{ noticia.vistaPrevia.contenido }}
              </div>
            </div>
            <div class="col-12 align-self-end">
              <div class="row justify-content-between" style="font-size:14px;">
                <div class="col-auto" style="font-family:'Poppins';font-weight:500;color:#305e7c;padding:0">
                  {{ noticia.fecha }}
                </div>
                <div class="col-auto" style="padding:0">
                  <button class="btn" style="background-color:#305e7c;color:white;border-radius:5px;padding:0 12px;box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.85);font-weight:400;font-family:'Poppins';" (click)="verArticulo(noticia._id)">
                    Ver artículo
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="border-color:#305e7c;max-width:90%;">
  <div class="container-fluid"  style="margin-bottom:60px;text-align:center;">
    <pagination-template #p="paginationApi" (pageChange)="pagina = $event">
      <div class="row justify-content-around">
        <div class="col-3" (click)="p.previous()" class="pagination" [class.pDisabled]="p.isFirstPage()">
          <a> <i class="fas fa-caret-left"></i><span style="font-family: 'Poppins';"> Pagina Anterior</span></a>
        </div>
        
        <div class="col-3" (click)="p.next()" class="pagination" [class.pDisabled]="p.isLastPage()">
          <a><span style="font-family: 'Poppins';">Pagina Siguiente </span> <i class="fas fa-caret-right"></i></a>
        </div>
      </div>
    </pagination-template>
  </div>
</div>