
h1{
    font-size: 80px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #4f4f4f;
}

.pagination{
    color:#305e7c;
    font-weight: 200;
    font-size: 20px
}


.pagination :hover{
    cursor: pointer;
}
.pDisabled{
    color:rgb(151, 151, 151);
    font-weight: 100;
    font-size: 20px
}

.pDisabled :hover {
    cursor: default;
}