<hr>
<div class="aro" style="width:calc(50vw - 17px);height:350px"></div>
<div style="background-color:#305e7c; border-radius:30px; margin:5px;">
    <div class="col-12 title" style="color:#b7b7b7">
        Inicia Sesión
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-group">

        <div class="col-6 col-lg-12 formulario mx-auto">
            <div class="container ">
                <div class="row">

                    <div class="col-12">
                        <div class="form-group" style="margin-top:20px">
                            <input id="email" type="text" class="form-control" style="height:50px" required>
                            <label class="form-control-placeholder" for="email">Correo Electrónico</label>
                        </div>

                        <div class="form-group" style="margin-top:40px">
                            <input id="passwd" type="text" class="form-control" style="height:50px" required>
                            <label class="form-control-placeholder" for="passwd">Contraseña</label>
                        </div>
                        <div class="pull-right" style="margin-right:0.1vw">
                            <button class="btn btn-info" type="submit">Iniciar sesión</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="text-center register">
            No eres miembro? <a style="color: #ffffff;" [routerLink]="['/register']">
                        Registrate aquí
                      </a>
        </div>
    </form>
</div>

<hr>