.title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 60px;
}

.formulario {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 50px;
    max-width: 40vw;
    color: #b7b7b7;
}

input,
input:focus {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b7b7b7;
    border-radius: 0;
}

label:hover {
    color: #fff;
    cursor: text;
}

hr {
    margin: 30px;
    background-color: #305e7c;
}

.aro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('/../assets/Aro.png');
    background-repeat: no-repeat;
    margin-top: calc(20px + 30vw);
    margin-left: 50vw;
    margin-right: 0;
}

.register {
    color: #b7b7b7;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.btn {
    color: #b7b7b7;
    height: 50px;
    margin-top: 30px;
    font-size: 24px;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .formulario {
        width: 80vw;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .formulario {
        width: 80vw;
        flex: 0 0 100%;
        max-width: 100%;
    }
}